<div class="container-sidebar">
  <div class="container-title">

    <mat-icon class="button" (click)="close()">close</mat-icon>
    <h1>Add members</h1>
  </div>

  <div class="container-input">
    <div class="selected-users">
      <ul class="container-selected-user">
        @for (userSelected of selectedUsers; track userSelected.id) {
          <li class="selected-user fade-in">
            <img src="../../../assets/default-user.jpg">
            <p class="name name-selected-user">{{ userSelected.firstName }} {{ userSelected.lastName }}</p>
            <mat-icon class="button button-user" (click)="removeUser(userSelected)">close</mat-icon>
          </li>
        }
      </ul>
    </div>

    <input autofocus [formControl]="searchControl" id="input" type="text" placeholder="Search name">
  </div>

  <p class="title-c">CONTACTS</p>

  <ul class="friendship">
    @for (friendship of friendshipsFiltered; track friendship.id) {
      <li class="container-friend fade-in" (click)="selectUser(friendship)">
        <img src="../../../assets/default-user.jpg">
        <div class="container-user">
          <p class="name">{{ friendship.firstName }} {{ friendship.lastName }}</p>
          <p class="username">{{ friendship.nickname }}</p>
        </div>
      </li>
    }
  </ul>

  @if (selectedUsers.length > 0) {
    <div class="container-step">
      <mat-icon class="button button-step" (click)="addMembers()">check</mat-icon>
    </div>
  }

</div>





