:host {
  .container-sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 35px;


    p {
      color: var(--color-roxo-nevoa);
    }
  }

  .container-title {
    display: flex;
    align-items: center;
    gap: 20px;

    mat-icon {
      color: var(--color-azul-eter);
    }

    h1 {
      font-size: 16px;
      color: var(--text-color);
    }
  }

  .container-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;


    input {
      width: 90%;
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid var(--border-color);
      outline: none;
      background: var(--color-primary);
      color: var(--text-color);
    }

  }

  .container-friend {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 16px;

    &:hover {
      cursor: pointer;
      background: var(--input-border);
      border-radius: 20px 0 0 20px;
    }

    img {
      width: 40px;
      border-radius: 50%;
    }
  }

  .friendship {
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: var(--border-color);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-azul-eter);
      border-radius: 5px;
    }
  }

  .container-user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    gap: 5px;
    width: 100%;
    height: 50px;
    padding: 4px 0 0 6px;

    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .name {
    color: var(--text-color) !important;
    font-weight: bold;
    font-size: 16px;
  }

  .username {
    color: var(--muted-text-color) !important;
    font-size: 12px;

    &:before {
      content: '@';
    }
  }

  .selected-users {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .container-selected-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeInUp 0.5s ease forwards;
  }

  .selected-user {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      border-radius: 50%;
    }
  }

  .name-selected-user {
    font-size: 12px;
  }

  .button-user {
    color: var(--muted-text-color) !important;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  .container-step {
    width: 100%;
    text-align: center;
  }

  .button-step {
    font-size: 35px;
    width: 40px;
    height: 40px;
    font-weight: normal;
    color: var(--text-color) !important;
    background: var(--color-azul-eter);
  }

  .container-group-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .img-group {
    border-radius: 50%;
    width: 70%;
  }

  .input-group {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    background: var(--color-primary);
    color: var(--text-color);
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .button-create-group {
    &:disabled {
      opacity: 0.3;
    }
  }
}
